<div class="mediaCov" style="padding: 10px">
  <h1 class="text-center">Media coverage.</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <app-media-tile
          image="assets/images/media/Bt-logo.png"
          link="https://news.nus.edu.sg/sites/default/files/resources/news/2019/2019-09/2019-09-26/POLYBEE-bt-26sep-p2.pdf"
          imgWidth="200px"
        ></app-media-tile>
      </div>
      <div class="col-md-4">
        <app-media-tile
          image="assets/images/media/Straits_Times_Logo.png"
          link="https://www.straitstimes.com/singapore/buzz-over-drones-that-help-with-pollination"
          imgWidth="200px"
        ></app-media-tile>
      </div>
      <div class="col-md-4">
        <app-media-tile
          image="assets/images/media/money_fm.png"
          link="https://www.straitstimes.com/business/money-fm-podcast-polybee-the-future-of-agriculture"
          imgWidth="200px"
        ></app-media-tile>
      </div>
      <div class="col-md-4">
        <app-media-tile
          image="assets/images/media/slingshot.png"
          link="https://www.straitstimes.com/business/money-fm-podcast-polybee-the-future-of-agriculture"
          imgWidth="200px"
        ></app-media-tile>
      </div>
      <div class="col-md-4">
        <app-media-tile
          image="assets/images/media/lky_businessplan.png"
          link="https://www.straitstimes.com/business/money-fm-podcast-polybee-the-future-of-agriculture"
          imgWidth="200px"
        ></app-media-tile>
      </div>
      <div class="col-md-4">
        <app-media-tile
          image="assets/images/media/rsz_socialimpact.png"
          link="https://www.straitstimes.com/business/money-fm-podcast-polybee-the-future-of-agriculture"
          imgWidth="200px"
        ></app-media-tile>
      </div>
    </div>
  </div>
</div>
