.hero {
  //   border: 2px solid black;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.impactText {
  font-size: 10vh;
  line-height: 10vh;
  text-align: center;
  font-family: "museo-sans-title";
  // color: rgb(51, 153, 255);
  color: white;
}
