.hero {
  //   border: 2px solid black;
  height: 80vh;
  background-size: cover;
  // background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.impactText {
  font-size: 8vh;
  line-height: 8vh;
  text-align: center;
  font-family: "museo-sans-title";
  // color: rgb(51, 153, 255);
  color: white;
}
