<div class="contact" style="padding: 10px">
  <div class="row">
    <div class="col-md-5">
      <h1 class="float-md-right">Contact us.</h1>
    </div>
    <div class="col-md my-auto">
      <a
        nbButton
        status="primary"
        size="giant"
        outline
        href="mailto:info@polybee.co"
      >
        <nb-icon icon="email-outline"></nb-icon>
        Email
      </a>
      <a
        nbButton
        status="primary"
        size="giant"
        outline
        href="https://goo.gl/maps/R4hKafHpsS9yd6BF7"
      >
        <nb-icon icon="globe-2-outline"></nb-icon>
        Office
      </a>
      <a
        nbButton
        status="primary"
        size="giant"
        outline
        href="https://angel.co/company/polybee/jobs"
        target="_blank"
      >
        <nb-icon icon="briefcase-outline"></nb-icon>
        Careers
      </a>
    </div>
  </div>
</div>
