a {
  margin: 8px;
}

h4,
p {
  font-family: "IBM Plex Sans", sans-serif;
}

.centerStuff {
  display: grid;
  place-items: center;
}

a {
  color: white;
}
a:hover {
  color: white;
}
// .row {
//   border: 2px solid black;
// }
// .col-md {
//   border: 2px solid black;
// }
