<div class="contact" style="padding: 10px">
  <h1 class="text-center">Contact us.</h1>
  <div class="contactContent">
    <p>
      <a
        nbButton
        status="primary"
        size="giant"
        outline
        href="mailto:info@polybee.co"
      >
        <nb-icon icon="email-outline"></nb-icon>
        info@polybee.co
      </a>
    </p>
  </div>
  <div class="contactContent">
    <p>
      <a
        nbButton
        status="primary"
        size="giant"
        outline
        href="https://goo.gl/maps/R4hKafHpsS9yd6BF7"
      >
        <nb-icon icon="globe-2-outline"></nb-icon>
        office
      </a>
    </p>
  </div>
  <div class="contactContent">21 Heng Mui Keng Terrace, Singapore 119163</div>
  <h4 class="text-center">Careers</h4>
  <div class="contactContent">
    <ul>
      <li>
        <a href="https://www.sginnovate.com/apprenticeship/talent"
          >Internship and traineeship</a
        >
      </li>
      <li>
        <a href="https://www.sginnovate.com/infinityseries/talent"
          >SgInnovate infinity series - internship and traineeship</a
        >
      </li>
      <li>
        <a href="https://www.sginnovate.com/power-x-robotics"
          >Traineeship and full-time role</a
        >
      </li>
    </ul>
  </div>
</div>
