<div class="contact" style="padding: 20px">
  <h1 class="text-center">Contact us</h1>
  <div class="row">
    <div class="col-md centerStuff">
      <h4>Email</h4>
      <p>
        info@polybee.co
        <!-- <a
          nbButton
          status="primary"
          size="giant"
          outline
          href="mailto:info@polybee.co"
        >
          <nb-icon icon="email-outline"></nb-icon>
          info@polybee.co
        </a> -->
      </p>
    </div>
    <div class="col-md centerStuff">
      <h4>Office</h4>
      <p>
        <!-- <a
          nbButton
          status="primary"
          size="giant"
          outline
          href="https://goo.gl/maps/R4hKafHpsS9yd6BF7"
        >
          <nb-icon icon="pin-outline"></nb-icon>
          Map
        </a> -->
      </p>
      <p>21 Heng Mui Keng Terrace, Singapore 119163</p>
    </div>
    <div class="col-md centerStuff">
      <h4>Careers</h4>
      <div>
        <ul>
          <li>
            <a href="https://www.sginnovate.com/apprenticeship/talent"
              >SGInnovate Summation Program
            </a>
          </li>
          <li>
            <a href="https://www.sginnovate.com/infinityseries/talent"
              >SGInnovate Infinity Program</a
            >
          </li>
          <li>
            <a href="https://www.sginnovate.com/power-x-robotics"
              >SGInnovate PowerX Robotics</a
            >
          </li>
          <li>
            <a href="https://angel.co/company/polybee/jobs">Full time roles</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
