<div
  class="customcard d-flex align-items-center justify-content-center"
  data-aos="fade-up"
  (click)="openLink()"
  [ngStyle]="{
    cursor: link ? 'pointer' : null
  }"
>
  <img class="img-fluid" [src]="image" alt="" />

  <p *ngIf="description" class="mediaAddOn mediaDescription text-center">
    {{ description }}
  </p>

  <a
    *ngIf="link"
    class="mediaAddOn"
    nbButton
    style="background-color: white; border: 0px"
    size="large"
    outline
    [href]="link"
    target="_blank"
  >
    View
    <nb-icon icon="external-link-outline"></nb-icon>
  </a>
</div>
