.solnImageContainer {
  //   border: 2px solid black;
  padding-right: 80px;
  padding-left: 80px;
}
.solution {
  margin-bottom: 50px;
}
.solnImage {
  //   transform: translateX(+20%);
  //   width: 800px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}
.solnContent {
  padding-right: 80px;
  padding-left: 80px;
}

.para {
  font-size: large;
}
