<div
  class="row solution"
  [ngStyle]="{
    'background-color': blueBack ? 'rgb(51, 153, 255)' : null
  }"
>
  <div
    class="col-md-6 solnImageContainer"
    [ngClass]="imgRight ? ' order-md-last' : ''"
    [ngStyle]="{
      'text-align': !imgRight ? 'end' : 'start'
    }"
  >
    <img
      *ngIf="imgRight"
      class="img-fluid solnImage"
      [src]="image"
      alt=""
      data-aos="fade-left"
    />
    <img
      *ngIf="!imgRight"
      class="img-fluid solnImage"
      [src]="image"
      alt=""
      data-aos="fade-right"
    />
  </div>
  <div class="col-md-6 solnContent">
    <h3 [ngStyle]="{ color: blueBack ? 'white' : null }">{{ title }}</h3>
    <h6 [ngStyle]="{ color: blueBack ? 'white' : null }">{{ subtitle1 }}</h6>
    <p class="para" [ngStyle]="{ color: blueBack ? 'white' : null }">
      {{ para1 }}
    </p>
    <h6 [ngStyle]="{ color: blueBack ? 'white' : null }">{{ subtitle2 }}</h6>
    <p class="para" [ngStyle]="{ color: blueBack ? 'white' : null }">
      {{ para2 }}
    </p>
    <h6 [ngStyle]="{ color: blueBack ? 'white' : null }">{{ subtitle3 }}</h6>
    <p class="para" [ngStyle]="{ color: blueBack ? 'white' : null }">
      {{ para3 }}
    </p>
  </div>
</div>

<!-- [ngStyle]="{ color: blueBack ? 'white' : null }" -->
