<div class="row solution">
  <div
    class="col-md-6 solnImageContainer"
    [ngClass]="imgRight ? ' order-md-last' : ''"
  >
    <img
      *ngIf="imgRight"
      class="img-fluid solnImage"
      [src]="image"
      alt=""
      data-aos="fade-down-left"
    />
    <img
      *ngIf="!imgRight"
      class="img-fluid solnImage"
      [src]="image"
      alt=""
      data-aos="fade-down-right"
    />
  </div>
  <div class="col-md-6 solnContent">
    <h1>{{ title }}</h1>
    <p class="para">{{ para1 }}</p>
    <p class="para">{{ para2 }}</p>
    <p class="para">{{ para3 }}</p>
  </div>
</div>
