.solnImageContainer {
  //   border: 2px solid black;
  // padding-right: 40px;
  // padding-left: 40px;
  margin-bottom: 8px;
  overflow: hidden;
}
.solution {
  min-height: 90vh;
  padding: 40px;
  display: flex;
  justify-items: center;
  place-items: center;
  // border-bottom: 2px solid lightgrey;
}
.solnImage {
  // box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.row {
  margin: 0;
}

h6 {
  font-family: "IBM Plex Sans", sans-serif;
}

.para {
  font-size: 25px;
  line-height: 30px;
  font-size: large;
  font-family: "IBM Plex Sans", sans-serif;
}

.title {
  margin-bottom: 50px;
}

.subtitle {
  font-size: 25px;
  font-family: "IBM Plex Sans", sans-serif;
}
