<div class="partners my-auto">
  <h1 class="text-center">Our Partners</h1>
  <div class="row equal">
    <div class="col-md">
      <app-img-text-vertical
        image="assets/images/partners/SFA.png"
        text="The Agency supports us with horticultural know-how and its network of local growers."
      ></app-img-text-vertical>
    </div>
    <div class="col-md">
      <app-img-text-vertical
        image="assets/images/partners/temasek-foundation.png"
        text="The Foundation supports our development of autonomous pollination methods for indoor farming."
      ></app-img-text-vertical>
    </div>
    <div class="col-md">
      <app-img-text-vertical
        image="assets/images/partners/NUS_Logo.png"
        text="We are alumni of NUSGRIP, the university's deep-tech accelerator."
      ></app-img-text-vertical>
    </div>
    <div class="col-md">
      <app-img-text-vertical
        image="assets/images/media/SGInnovate_Logo.jpg"
        text="We work with SGInnovate on its talent programs like Summation and Infinity."
      ></app-img-text-vertical>
    </div>
  </div>
</div>
