<nb-layout>
  <nb-layout-header
    [ngStyle]="{
      'background-image': 'url(assets/images/illustration-section-01.svg)'
    }"
  >
    <!-- Insert header here -->
    <div class="row">
      <div class="col-6 col-sm-2">
        <img
          class="img-fluid float-left"
          src="assets/logo/logo_banner.png"
          alt=""
        />
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <app-hero></app-hero>
    <app-section1></app-section1>
    <app-section2></app-section2>
    <app-pilot-trails></app-pilot-trails>
  </nb-layout-column>
</nb-layout>
