<nb-layout>
  <nb-layout-header
    fixed
    [ngStyle]="{
      'background-image': 'url(assets/images/illustration-section-01.svg)'
    }"
  >
    <!-- Insert header here -->
    <div class="row">
      <div class="col-6 col-sm-2">
        <img
          class="img-fluid float-left"
          src="assets/logo/logo_banner.png"
          alt=""
        />
      </div>
    </div>
    <button nbButton (click)="scroll(pilot)">go to ele</button>
    <nb-actions size="small">
      <nb-action
        [icon]="sideBarShown ? 'close-outline' : 'menu-outline'"
        (click)="toggleSidebar()"
      ></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-sidebar right tag="right-sidebar" state="collapsed" fixed>
    <!-- <nb-menu [items]="sidebarMenuItems"> </nb-menu> -->
    <div style="cursor: pointer" (click)="scroll(section1)">
      <h6><nb-icon icon="home-outline"></nb-icon> Home</h6>
    </div>
  </nb-sidebar>

  <nb-layout-column>
    <div #hero>
      <app-hero></app-hero>
    </div>
    <div #section1>
      <app-section1></app-section1>
    </div>
    <div #section2>
      <app-section2></app-section2>
    </div>
    <div #pilot>
      <app-pilot-trails></app-pilot-trails>
    </div>
    <div #partners>
      <app-partners></app-partners>
    </div>
    <div #media>
      <app-media></app-media>
    </div>
    <div #contact>
      <app-contact></app-contact>
    </div>
  </nb-layout-column>
</nb-layout>
