<nb-layout>
  <nb-layout-header
    [@toggle]="headerShown ? 'showHeader' : 'hideHeader'"
    fixed
    [ngStyle]="{
      'background-image': 'url(assets/images/illustration-section-01.svg)'
    }"
  >
    <div class="row">
      <div class="col-6 col-sm-2">
        <img
          class="img-fluid float-left"
          src="assets/logo/logo_white.png"
          alt=""
        />
      </div>
    </div>
    <nb-actions size="small">
      <nb-action
        [icon]="sideBarShown ? 'close-outline' : 'menu-outline'"
        (click)="toggleSidebar()"
      ></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-sidebar right tag="right-sidebar" state="collapsed" fixed>
    <div class="sidebarMenuItem" (click)="scroll(hero)">
      <h6>
        <!-- <nb-icon icon="home-outline"></nb-icon> -->
        Home
      </h6>
    </div>
    <div class="sidebarMenuItem" (click)="scroll(section2)">
      <h6>Solutions</h6>
    </div>
    <div class="sidebarMenuItem" (click)="scroll(partners)">
      <h6>Partners</h6>
    </div>
    <div class="sidebarMenuItem" (click)="scroll(media)">
      <h6>Media coverage</h6>
    </div>
    <div class="sidebarMenuItem" (click)="scroll(contact)">
      <h6>Contact</h6>
    </div>
  </nb-sidebar>

  <nb-layout-column>
    <div #hero>
      <app-hero></app-hero>
    </div>
    <div #section1>
      <app-section1></app-section1>
    </div>
    <div #section2>
      <app-section2></app-section2>
    </div>
    <div #partners>
      <app-partners></app-partners>
    </div>
    <div #media>
      <app-media></app-media>
    </div>
    <div #pilot>
      <app-pilot-trails></app-pilot-trails>
    </div>
    <div #contact>
      <app-contact></app-contact>
    </div>
  </nb-layout-column>
</nb-layout>
