// nb-layout-header {
//   background-image: url("./assets/images/illustration-section-01.svg");
// }

nb-layout-header {
  background-size: cover;
}
nb-layout-column {
  margin: 0;
}

.sidebarMenuItem {
  cursor: pointer;
  margin-bottom: 20px;
  // border-bottom: 2px solid rgb(51, 153, 255);
  border-bottom: 2px solid lightgrey;
}
