<div class="section1">
  <h1 class="text-center">Pollination has been left to chance for too long.</h1>
  <div class="row">
    <div class="col-md">
      <app-img-text-vertical
        image="assets/images/seed.png"
        text="A $50 Bn industry entirely depends on hand pollination for production."
      ></app-img-text-vertical>
    </div>
    <div class="col-md">
      <app-img-text-vertical
        image="assets/images/vertical-farming.png"
        text="A scalable solution for pollination is the industry's biggest bottleneck."
      ></app-img-text-vertical>
    </div>
    <div class="col-md">
      <app-img-text-vertical
        image="assets/images/greenhouse.png"
        text="Not all growers are blessed with easy and affordable access to bees."
      ></app-img-text-vertical>
    </div>
  </div>
</div>
