<div class="section1 my-auto">
  <h1 class="text-center text-white">
    Pollination has been left to chance for too long.
  </h1>
  <div class="row">
    <div class="col-md">
      <app-img-text-vertical
        image="assets/images/industryProblems/seed.png"
        text="A $50 Bn industry entirely depends on hand pollination for production."
        title="Hybrid Seeds"
      ></app-img-text-vertical>
    </div>
    <div class="col-md">
      <app-img-text-vertical
        image="assets/images/industryProblems/vertical-farming.png"
        text="A scalable solution for pollination is the industry's biggest bottleneck."
        title="Indoor Vertical Farming"
      ></app-img-text-vertical>
    </div>
    <div class="col-md">
      <app-img-text-vertical
        image="assets/images/industryProblems/greenhouse.png"
        text="Not all growers are blessed with easy and affordable access to bees."
        title="Greenhouses"
      ></app-img-text-vertical>
    </div>
  </div>
</div>
