<div class="section2">
  <h1 class="text-center">Solutions</h1>

  <app-solution-component
    image="assets/images/solutions/verticalFarming.png"
    title="Grow more from less: greenhouses and vertical farming"
    para2="Enhance the quality of your produce with lower rejection rates. Our method of self-pollination promises to maximize the fertilization of every flower since it is pollinated at just the right time."
    para3="We are offering pilots for pollination of strawberries, tomatoes, pepper and eggplant in greenhouses and vertical farms."
  ></app-solution-component>
  <app-solution-component
    image="assets/images/solutions/bayer-demo.gif"
    imgRight="true"
    title=" Accelerate hybrid seed development"
    subtitle1="Autonomous self-pollination"
    para1="Increase self efficiency and eliminate the inconsistencies of manual and bee pollination in pure line development."
    subtitle2="Autonomous cross pollination in hybridization"
    para2="Valuable germplasm is lost each time cross-pollination is done improperly. With autonomous miniature drones, perform targeted crosses at just the right time to obtain clear outcomes for your trials. "
    blueBack="true"
  ></app-solution-component>
  <app-solution-component
    image="assets/images/solutions/mac-fullpage.png"
    title="Make faster and better breeding decisions with Phenobee"
    subtitle1="High-throughput data collection"
    para1="With our autonomous drones, collect high-res visual data and eliminate cost and subjectivity of manual measurements."
    subtitle2="Phenobee: digital phenotyping platform"
    para2="Measure, visualize and compare the measurement of plant traits from the images using bleeding-edge AI and computer vision."
    para3="Currently, we are offering phenotyping services for watermelon, tomato, pepper and cucumber."
  ></app-solution-component>
</div>

<!-- <div class="row">
  <div class="col-md">
    <app-img-text-vertical
      image="assets/images/solutions/drone.png"
      text="Small sized autonomous drones for pollination at scale."
      title="Autonomous self-pollination"
    ></app-img-text-vertical>
  </div>
  <div class="col-md">
    <app-img-text-vertical
      image="assets/images/solutions/chip.png"
      text="Software platform to visualize data and predict yields."
      title="Farming Intelligence"
    ></app-img-text-vertical>
  </div>
  <div class="col-md">
    <app-img-text-vertical
      image="assets/images/solutions/camera.png"
      text="Autonomous collection of high-res visual data in indoor plant breeding operations."
      title="High-throughput Phenotyping"
    ></app-img-text-vertical>
  </div>
</div> -->
