<div class="section2">
  <h1 class="text-center">Our Solutions.</h1>

  <app-solution-component
    image="assets/banner.jpg"
    title="Grow more from less."
    subtitle1="Greenhouses and vertical farming"
    para1="Increase and track yields accurately through precision pollination to get the most out of every crop."
    para2="Enhance quality of produce with higher quality of pollination. Our method of self-pollination promises to maximize the degree of fertilization of every flower, leading to lower rejection rates."
    para3="We are offering pilots for pollination of strawberries, tomatoes, pepper and eggplant in greenhouses and vertical farms."
  ></app-solution-component>
  <app-solution-component
    image="assets/images/drones.gif"
    imgRight="true"
    title=" Accelerate hybrid seed development."
    subtitle1="Autonomous self-pollination"
    para1="Increase self efficiency and eliminate the inconsistencies of manual and bee pollination."
    subtitle2="Autonomous cross pollination in hybridization"
    para2="Valuable germplasm is lost each time cross-pollination is done improperly. With autonomous miniature drones, perform targeted crosses at just the right time to obtain clear outcomes for your trials. "
    para3="We are offering pilots for pollination of strawberries, tomatoes, pepper and eggplant in greenhouses and vertical farms."
    blueBack="true"
  ></app-solution-component>
  <app-solution-component
    image="assets/images/mac-fullpage.png"
    title="Lightning fast workflow with phenobee"
    subtitle1="Collect high-resolution data"
    para1="Collect high-resolution data from your crops with our drone technology."
    subtitle2="Phenobee, a software platform for trait analysis"
    para2="Phenobee is a state of the art analysis platform powered by cloud technology and bleeding edge computer vision and AI. Use it to analyse and compare traits from your crops"
    para3="Currently, we are offering phenotyping services for watermelon, tomato, pepper and cucumber."
  ></app-solution-component>
</div>

<!-- <div class="row">
  <div class="col-md">
    <app-img-text-vertical
      image="assets/images/solutions/drone.png"
      text="Small sized autonomous drones for pollination at scale."
      title="Autonomous self-pollination"
    ></app-img-text-vertical>
  </div>
  <div class="col-md">
    <app-img-text-vertical
      image="assets/images/solutions/chip.png"
      text="Software platform to visualize data and predict yields."
      title="Farming Intelligence"
    ></app-img-text-vertical>
  </div>
  <div class="col-md">
    <app-img-text-vertical
      image="assets/images/solutions/camera.png"
      text="Autonomous collection of high-res visual data in indoor plant breeding operations."
      title="High-throughput Phenotyping"
    ></app-img-text-vertical>
  </div>
</div> -->
