<div class="section2">
  <h1 class="text-center">Our Solutions.</h1>
  <div class="row">
    <div class="col-md">
      <app-img-text-vertical
        image="assets/images/solutions/drone.png"
        text="Small sized autonomous drones for pollination at scale."
        title="Autonomous Pollination"
      ></app-img-text-vertical>
    </div>
    <div class="col-md">
      <app-img-text-vertical
        image="assets/images/solutions/chip.png"
        text="Software platform to visualize data and predict yields."
        title="Farming Intelligence"
      ></app-img-text-vertical>
    </div>
    <div class="col-md">
      <app-img-text-vertical
        image="assets/images/solutions/camera.png"
        text="Autonomous collection of high-res visual data in indoor plant breeding operations."
        title="High-throughput Phenotyping"
      ></app-img-text-vertical>
    </div>
  </div>
</div>
