<div class="customcard d-flex justify-content-center" data-aos="zoom-in">
  <!-- <div class="imgTextVertical"></div> -->
  <div class="row">
    <div class="col-12 d-flex justify-content-center text-center">
      <img
        class="img-fluid"
        [src]="image"
        alt=""
        [ngStyle]="{
          height: imgHeight
        }"
      />
    </div>
    <div class="col-12 text-center">
      <h4>
        {{ title }}
      </h4>
    </div>
    <div class="col-12 text-center">
      <p class="description">
        {{ text }}
      </p>
    </div>
  </div>
  <!-- <nb-card>
    <nb-card-body>
    </nb-card-body>
  </nb-card> -->
</div>
